<!DOCTYPE html>
<html>
	<%= render 'shared/header' %>
	<body>
		<%= render 'shared/topbar' %>
		<div class="container-fluid">
			<%= render 'shared/side_bar' %>
			<br/>
			<div class="content">
				<%= render 'shared/notice_messages' %>
				<%= yield %>
				<%= render 'shared/footer' %>
			</div>
		</div>
	</body>
</html>